<h3 class="jumbotron fntwht float_left">Novak Djokovic Practice in Abu Dhabi</h3>
<h3 class="jumbotron fntwht float_left">Novak Djokovic - delay</h3>


<iframe width="49%" height="400" src="https://www.youtube.com/embed/shIsbCX-8nU" frameborder="5" allowfullscreen></iframe>
<iframe width="49%" height="400" src="https://www.youtube.com/embed/shIsbCX-8nU" frameborder="5" allowfullscreen></iframe>
