<div class="jumbotron text-center">

   
    <%= link_to root_path, class: 'navbar-brand' do %>
     <h1>Welcome to Red St
    <i class="fa fa-star starrr fa-spin fa-1x "></i>r</h1>
    <% end %>
<br><br><br><br><br>

    
    <h2>Jebemti domobrance!!</h2>

</div>