<div class="jumbotron text-center">

<styles>

</styles>

   
    <%= link_to root_path, class: 'navbar-brand blackk' do %>
     <h1 class="blackk" >Welcome to the <dev class="starrr bolddd" > &nbsp; Red</dev> &nbsp;   ST
    <i class="fa fa-star starrr fa-spin fa-1x"></i> R</h1>
    <% end %>
<br><br><br><br><br><br><br><br>

    <dev class="starrr">
        
       <h2 class="bolddd" >Jebemti domobrance!!!!!!!!!!!!!!</h2>     
    </dev>


</div>