<div class="jumbotron text-center">

   
    <%= link_to root_path, class: 'navbar-brand boldd' do %>
     <h1>Welcome to Red      ST
    <i class="fa fa-star starrr fa-spin fa-1x"></i> R</h1>
    <% end %>
<br><br><br><br><br>

    
    <h2 class="boldd" >Jebemti domobrance!!</h2>

</div>